<!DOCTYPE html>
<html>
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style>
			footer{
				position: absolute;
				right: 0;
				left: 0;
				height: 1.25rem;
				bottom: 0;
				background-color: #fff;
				display: flex;
			    justify-content: space-around;
			    align-items: center;
				border-top: solid 1px #ccc;
			}
			footer img{
				height: 1rem;
			}
			.page-content{
				position: fixed;
				left: 0;
				right: 0;
				top:0;
				bottom: 1.5rem;
				overflow: auto;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<!-- 路由出口 -->
			<!-- 路由匹配到的组件将渲染在这里 -->
			<router-view class="page-content"></router-view>
			<!--transition name="slide-fade">
			</transition-->

			<footer>
				<router-link to="/home" exact><img src="/assets/home.png"/></router-link>
				<router-link to="/life" exact><img src="/assets/life.png"/></router-link>
				<router-link to="/mine" ><img src="/assets/mine.png"/></router-link>
			</footer>
		</div>
	</body>
</html>
