<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
	</head>
	<body>
		<div id="app">
			<!-- 路由出口 -->
			<!-- 路由匹配到的组件将渲染在这里 -->
			<router-view></router-view>
			<!--transition name="slide-fade">
			</transition-->

			<div class="tab">
				<router-link to="/" exact></router-link>
			    <!--router-link to="/account"><img v-bind:src="accountIcon"/><span>我的账户</span></router-link>
			    <router-link to="/safety"><img v-bind:src="safetyCenter"/><span>安全中心</span></router-link-->
			</div>
		</div>
	</body>
</html>
