
@import "../../assets/scss/common.scss";

.mint-swipe{
    position: absolute;
    top: 0;
    left: 0;
    height: 5.5rem;
    right: 0;
}

.tab{
    position: absolute;
    top: $slideHeight;
    left: 0;
    right: 0;
    display: flex;
    padding: 0.1rem 0;
    justify-content: space-around;
    z-index: 0;
    background-color: white;
    a{
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: #282828;
        img{
            width: 1rem;
        }
    }
}
.list{
    position: absolute;
    top:$slideHeight + 2rem;
    left:0;
    right:0;
    margin-top:0.2rem;
    background-color: white;
    li{
        display: flex;
        padding: 0.1rem 0.2rem;
        .left{
            width:75%;
            align-items: flex-start;
            .title{
                overflow: hidden;
                text-overflow: ellipsis;
                width: 90%;
                white-space: nowrap;
                font-weight: 800;
            }
            .content{
        		overflow : hidden;
        		text-overflow: ellipsis;
        		display: -webkit-box;
        		-webkit-line-clamp: 2;
        		-webkit-box-orient: vertical;
                @include font-dpr(12px);
                color:#ccc;
            }
        }
        .picture{
            width:25%;
            align-items: flex-end;
        }
    }
}
