<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
	</head>
	<body>
		<div id="app">
			<div id="home">
				<mt-swipe :auto="4000">
					<mt-swipe-item><img v-bind:src="swiper3"/></mt-swipe-item>
					<mt-swipe-item><img v-bind:src="swiper1"/></mt-swipe-item>
					<mt-swipe-item><img v-bind:src="swiper2"/></mt-swipe-item>
				</mt-swipe>
			</div>

			<!-- 路由出口 -->
			<!-- 路由匹配到的组件将渲染在这里 -->
			<transition name="slide-fade">
				<router-view></router-view>
			</transition>

			<div class="tab">
				<!--router-link to="/" exact></router-link-->
			    <router-link to="/mine">Go to mine</router-link>
			    <router-link to="/safety">Go to safety</router-link>
			</div>
		</div>
	</body>
</html>
